{% extends 'index.html' %}
{% block container %}
  <main class="main pt-4" role="main">

    <div class="container">

      <div class="row">
        <div class="col-md-9">
          <article class="card mb-4">
            <div class="row">
              <div class="col-md-1">
                {% if already_liked %}
                <div>
                  <button class="icon-button" style="color:red;" type="button">
                      <i class="fas fa-heart"></i>
                  </button>
                  <p class="likes text-center mb-2">{{ likes }}</p>
                </div>
                {% else %}
                <div class="heart" data-id="{{ id }}">
                  <button class="icon-button" type="button">
                    <i class="far fa-heart"></i>
                  </button>
                  <p class="likes text-center mb-2">{{ likes }}</p>
                </div>
                {% endif %}
                <button class="icon-button" type="button" disabled="">
                  <i class="far fa-eye"></i>
                </button>
                <p class="views text-center mb-2">{{ views }}</p>
                <a href="#comments" class="icon-button">
                  <i class="far fa-comment-alt"></i>
                </a>
                <p class="comments text-center mb-2">{{ comments_count }}</p>
              </div>
              <div class="col-md-11">
                <header class="card-header text-center">
                  <div class="card-meta">
                    <a href="#"><time class="timeago" datetime="{{ pub_date }}">{{ pub_date }}</time></a> in <a href="page-category.html">Journey</a>
                  </div>
                  <a href="post-image.html">
                    <h1 class="card-title">{{ title }}</h1>
                  </a>
                </header>
                <div class="card-body">
                  <p>{{ content }}</p>
                </div>
              </div>
            </div>
          </article><!-- /.card -->
          <!-- comments -->
          {% if comments_count %}
          {% for comment in comments %}
          <div id="comments" class="media mb-3">
            <div class="text-center mt-3 mr-2 ml-2">
              <span style="font-size: 2em;"><i class="fas fa-comment-alt"></i></span>
              <!--<img class="mr-3 rounded-circle" src="img/avatars/4.png" alt="Paula" width="100" height="100">-->
              <h6 class="mt-1 mb-0 mr-1.5 ml-1.5">{{ comment.0 }}</h6>
            </div>
            <div class="media-body">
              <p class="mt-3 mb-2">{{ comment.1 }}</p>
              <!--<time class="timeago text-muted" datetime="2017-11-05 20:00">5 november 2017</time>-->
            </div>
          </div>
          {% endfor %}
          {% endif %}
          <div class="mt-5">
            <h5>Написать комментарий</h5>
            <!--<div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" id="email" name="email" placeholder="Your email">
              </div>
            </div>-->
            <form action="/post/{{ id }}/add/" method="POST">{% csrf_token %}
              <textarea class="form-control mt-3" rows="3" name="comment" placeholder="Написать комментарий..."></textarea>
              <button type="submit" class="btn btn-success mt-3">Отправить</button>
            </form>
          </div>
        </div>
        <div class="col-md-3 ml-auto">

          <aside class="sidebar">
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">Citations</h4>
                <p class="card-text">{{ citation }}</p>
              </div>
            </div><!-- /.card -->
          </aside>
          <aside class="sidebar sidebar-sticky">
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">Tags</h4>
                {% for tag in tags %}
                <a class="btn btn-light btn-sm mb-1" href="/tag/{{ tag }}/">{{ tag }}</a>
                {% endfor %}
              </div>
            </div><!-- /.card -->
            <!--<div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">Popular stories</h4>
                <a href="post-image.html" class="d-inline-block">
                  <h4 class="h6">The blind man</h4>
                  <img class="card-img" src="" alt="" />
                </a>
                <time class="timeago" datetime="2017-10-03 20:00">3 october 2017</time> in Lifestyle
                <a href="post-image.html" class="d-inline-block mt-3">
                  <h4 class="h6">Crying on the news</h4>
                  <img class="card-img" src="" alt="" />
                </a>
                <time class="timeago" datetime="2017-07-16 20:00">16 july 2017</time> in Work
              </div>
            </div><!-- /.card -->
          </aside>

        </div>
      </div>
    </div>

  </main>
{% endblock %}